*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*
    ICONOS FLOTANTES
*/
    .separacion {
        padding-left: 10px;
        padding-right: 10px;
    
    }
    /*Generales*/
    .btn1 {
        position: fixed;
        bottom: 30px;
        z-index: 100;
        text-align: center;
    }
    /* WhatsApp*/
    .btn-wsp {
        width: 55px;
        height: 55px;
        line-height: 55px;
        background: #0df053;
        color: #fff;
        border-radius: 50px;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }
    .btn-wsp:hover {
        text-decoration: none;
        color: #0df053;
        background: #fff;
    }

    /* Carrito */
    .btn-buy {
        width: 55px;
        height: 55px;
        line-height: 55px;
        background: #fff;
        color: #000;
        border-radius: 10px;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }
    .btn-buy:hover {
        text-decoration: none;
        color: #fff;
        background: #000;
    }

/*
    SECCIONES
*/
    /*Sección uno*/
    .sliderr-1 {
        background: orchid;
        height: 30vh;
    }

    /*Sección dos*/
    .slider-2{
        height: 100vh;
        background: #b80d57;
    }

/*
    METODOS DE PAGO
*/
    .mpagos {
        background: #FFF;
        margin: 40px;
    }
    .pagos{
        color: #A5F5FD;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
/*
    PUNTOS
*/
    .puntosDeCompras {
        height: 30vh;
        background: #F5C9D9;
    }
    .text2 {
        text-align: center;
    }


/*
    FOOTER
*/
    footer {
        background: #F5C9D9;
        padding-bottom: 1px;
        padding-top: 10px;
    }

.test {
    height: 50vh;
}
